.client_logo_cont{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.client_logo_cont img{
    border: solid 1px #ccc;
}

@media screen and (max-width:600px) {
    .client_logo_cont img{
        max-width: 120px;
    }
}