.about_sec{
    padding: 120px 0 60px 0;
    color: #000;
}
.about_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    box-sizing: content-box;
    border: solid 3px #000;
}

@media screen and (max-width:600px) {
    .about_container{
        flex-direction: column-reverse;
        text-align: center;
    }
}


.about_info{
    padding: 0 20px;
}

@media screen and (max-width:600px) {
    .about_info {
        padding:20px 0;
    }
    .about_info .arr__body_text{
        padding:0 20px;
    }
}

.about_title{
    text-align: left;
    margin-top: 0;
    color:#000;
}