.back__home{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: .3s all ease;
    opacity: 0.5;
  }

  .back__home{
    position: absolute;
    left:20px;
    top: 20px;
  }


  @media screen and (max-width:480px) {
    .backto_home{
      font-size: 0;
    }
   }

  .back__home span{
    margin-right: 10px;
  }

  .back__home:hover{
    opacity: 1;
    color: #fff;
  }