.bannersection{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    /* background-image: url("../../images/book-show.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#bgvideo, #bgvideo_mob{
    width: 100%;
}

.banner__info{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    position: relative;
}

.banner__titile{
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
}

@media screen and (max-width:600px) {
   .banner__titile{
    font-size: 28px;
   } 
}


.banner__subtitile{
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
}

@media screen and (max-width:600px) {
    .banner__subtitile{
     font-size: 14px;
    } 
 }

.banner__titile span{
    color:radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.dktp_vid{
    display: block;
}

@media screen and (max-width:600px) {
    .dktp_vid{
        display: none;
    } 
 }

 .mob_vid{
    display: none;
}

@media screen and (max-width:600px) {
    .mob_vid{
        display: block;
    } 
 }